.root {
    display: flex;
    font-family: Aquatico;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 500px;
}

.search-bar {
    width: 30vw;
    margin-top: 1.2em;
    font-size: 1.8em;
    padding: 0.5em;
    border: 1px solid;
    border-radius: 0.5em;
    outline: none;
}